<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nispand.smartzcompanion" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CalEvent"
            android:label="@string/title_activity_calevent" >
            <intent-filter>
                <action android:name="android.CalEvent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Caladd"
            android:label="@string/title_activity_caladd" >
            <intent-filter>
                <action android:name="android.Caladd" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WifiMenu"
            android:label="@string/title_activity_second" >
        </activity>

        <!-- Receive Wi-Fi connection state changes -->
        <receiver
            android:name=".WifiReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".phonecallbased"
            android:label="@string/title_activity_phonecallbased" >
        </activity>
        <activity
            android:name=".SetReminder"
            android:label="@string/title_activity_set_reminder" >
        </activity>
        <activity
            android:name=".NotificationView"
            android:label="@string/title_activity_notification_view" >
        </activity>
    </application>

</manifest>
